body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 15px;
}

h2 {
    margin-bottom: 12px;
    color: #333;
}


.tabs {
    display: flex;
    background: #e6e6e6;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.tab {
    padding: 10px 20px;
    cursor: pointer;
    border-right: 1px solid #aaa;
    background: #e6e6e6;
    font-weight: bold;
    color: #555;
    flex-grow: 1;
    text-align: center;
    display: inline-block
}

.tab.active {
    background-color: #ffffff;
    border-bottom: 3px solid #27ae60;
    font-weight: bold;
    color: #333;
}

.tab:hover {
    background: #dcdcdc;
}


.content {
    display: none;
    background: #fff;
    padding: 20px;
    border: 1px solid #aaa;
    border-top: none;
    min-height: 400px;
}


.section-title {
    background: #f5f5f5;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}


.form-row {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 15px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

label {
    width: 120px;
    font-weight: bold;
    font-size: 14px;
}

.html-select {
    padding: 6px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


.primary-btn {
    padding: 8px 20px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.primary-btn:hover {
    background: #1565c0;
}

#extDropdown {
    display: inline-block;
    min-width: 180px;
    min-height: 25px;
    vertical-align: middle;
}